{%
  set classes = [
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    card ? 'card brand-border-radius' : '',
  ]
%}

{%
  set title_classes = [
    card ? 'card__title' : 'block-title',
  ]
%}

{% if not bare %}
  <section{{ attributes.addClass(classes) }}>

    {{ title_prefix }}
    <header{{ title_attributes.addClass('complementary-title') }}>
      <h4 class="card__title"><a class="btn-flat" href="{{ course_url }}">{% trans %}Course information{% endtrans %}</a></h4>
      <span class="mobile-navigation">| {% trans %}Navigate{% endtrans %}</span>
    </header>
    {{ title_suffix }}
{% endif %}

    {% block content %}
      <div class="card__block card__block--list">
        {{ content }}
      </div>
    {% endblock %}

{% if not bare %}
  </section>
{% endif %}
